.form-create {
    width: 100%;
}

.form-create .t-tree .t-tree__icon {
    line-height: inherit;
}

.form-create.t-form:not(.t-form-inline) .t-form__item:last-of-type {
    margin-bottom: 24px;
}

.form-create .form-create .t-is-error .t-input__extra {
    color: var(--td-error-color);
}

.form-create .form-create .t-is-warning .t-input__extra {
    color: var(--td-warning-color);
}

.form-create.is-preview .fc-clock, .form-create .fc-none {
    display: none !important;
}

.form-create.is-preview .t-form__label--required > label::before {
    content: "" !important;
}