._fc-upload .fc-files img {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

._fc-upload .fc-upload-btn {
    border: 1px dashed #c0ccda;
    cursor: pointer;
}

._fc-upload .fc-upload-cover {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

._fc-upload .fc-upload-cover i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 2px;
}

._fc-upload .fc-files:hover .fc-upload-cover {
    opacity: 1;
}

._fc-upload .el-upload {
    display: block;
}

._fc-upload .fc-upload-btn, ._fc-upload .fc-files {
    display: inline-block;
    width: 58px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    border: 1px solid #c0ccda;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
    margin-right: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
