.fc-upload-btn, .fc-files {
    display: inline-block;
    width: 58px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    border: 1px solid #c0ccda;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
    margin-right: 4px;
    box-sizing: border-box;
}

.__fc_h {
    display: none;
}

.__fc_v {
    visibility: hidden;
}

.fc-files img {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.fc-upload-btn {
    border: 1px dashed #c0ccda;
    cursor: pointer;
}

.fc-upload .fc-upload-cover {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    transition: opacity .3s;
}

.fc-upload .fc-upload-cover i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 2px;
}

.fc-files:hover .fc-upload-cover {
    opacity: 1;
}

.fc-upload .el-upload {
    display: block;
}


.form-create .el-form-item .el-rate {
    margin-top: 10px;
}

.form-create .el-form-item .el-tree {
    margin-top: 7px;
}

.fc-hide-btn .el-upload {
    display: none;
}