.form-create .form-create .ant-form-item {
    margin-bottom: 22px;
}

.form-create .form-create .ant-form-item.ant-form-item-with-help {
    margin-bottom: 3px;
}

.form-create .form-create .ant-form-item .ant-form-item.ant-form-item-with-help {
    margin-bottom: -22px;
}

.form-create{
    width: 100%;
}

.form-create.is-preview .fc-clock, .form-create .fc-none {
    display: none !important;
}

.form-create.is-preview .ant-form-item .ant-form-item-label >label.ant-form-item-required::before{
    content: "" !important;
}