.fc-upload-btn, .fc-files {
    display: inline-block;
    width: 58px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    border: 1px solid #c0ccda;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
    margin-right: 4px;
    box-sizing: border-box;
}

.form-create .form-create .ivu-form-item {
    margin-bottom: 24px;
}

.form-create .form-create .ivu-form-item .ivu-form-item {
    margin-bottom: 0px;
}

.form-create .fc-group .ivu-icon + .ivu-icon {
    margin-left: 3px;
}

.form-create .fc-upload .ivu-icon {
    vertical-align: middle;
}

.form-create .__fc_h {
    display: none;
}

.form-create .__fc_v {
    visibility: hidden;
}

.fc-pop2 {
    text-align: left;
    vertical-align: -0.2em;
}

.fc-pop3 {
    vertical-align: 0.1em;
}

.fc-files img {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.fc-upload-btn {
    border: 1px dashed #c0ccda;
    cursor: pointer;
}

.fc-upload .fc-upload-cover {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    transition: opacity .3s;
}

.fc-upload .fc-upload-cover i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 2px;
}

.fc-files:hover .fc-upload-cover {
    opacity: 1;
}

.fc-hide-btn .ivu-upload .ivu-upload {
    display: none;
}

.fc-upload .ivu-upload-list {
    margin-top: 0;
}
